<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Handlebars Demo</title>
</head>
<body>
<h1>Hi, you are on Builder example site</h1>
<h1><a href="/create_model">Create model</a></h1>
<h1>Hi {{name}}</h1>
<h3>Here are your items:</h3>
<ul>
    {{#each items}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<p>Try going to <a href="/hello/YourName">/hello/YourName</a></p>
</body>
</html>